APP_SLUG=etal-misc
DEPLOY_ENV=dev
RUNTIME_ADAPTER_CODE=bash-local

# ------------------------------
# anything below this line probably shouldn't be edited manually
# ------------------------------
STACK=${APP_SLUG}-${DEPLOY_ENV}
LOCAL_DOMAIN=localtest.me
APP_HOST=$STACK.$LOCAL_DOMAIN

URI_SCHEME=http:
WP_SITE_URL=$URI_SCHEME//$APP_HOST

# ------------------------------
# Et al Solutions – EPC Tag Contract
# ------------------------------

# Ownership (logical, not personal)
OWNER_ALIAS=etalsolutions             # Allowed: etalsolutions | client-it | client-dev | vendor | other

# Control plane
MANAGED_BY=compose              # Allowed: compose | k8s | terraform | manual | other

# Container lifecycle
LIFECYCLE=long-lived                  # Allowed: ephemeral | long-lived | job

# Data governance
DATA_CLASS=confidential               # Allowed: public | internal | confidential | regulated
DATA_LIFECYCLE=persistent             # Allowed: transient | persistent | archival
